<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nike shop</title>
    <link rel="icon" type="image/x-icon" href="../img/main/favicon.ico" />
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/checkout.css">
    <link rel="stylesheet" href="../styles/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>

<body>

    <div class="header">

        <div class="auth-block">
            <ul>
                <li>
                    <h5 data-toggle="modal" data-target="#sign-in-modal">Sign in</h5>
                </li>
                <li>|</li>
                <li>
                    <h5 data-toggle="modal" data-target="#sign-up-modal">Sign up</h5>
                </li>
            </ul>
        </div>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <h1 class="title">Nike shop</h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse nav-block" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="item">
                            <h5>Men</h5>
                        </li>
                        <li class="item">
                            <h5>Women</h5>
                        </li>
                        <li class="item">
                            <h5>Kids</h5>
                        </li>

                        <li class="item">
                            <h5>Unisex</h5>
                        </li>

                        <li class="item">
                            <h5>Collections</h5>
                        </li>
                    </ul>

                </div>
                <div class="cart">
                    <img alt="cart" src="../img/main/favorites.png" height="30" width="30">
                    <img alt="cart" src="../img/main/cart.png" height="30" width="30">
                </div>

            </nav>


        </header>
        <div class="advert">
            <h5>New collection is alreaady on site</h5>
        </div>
    </div>
    </div>


        <!-- Sign in popup -->
        <div id="sign-in-modal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
    
                <div class="auth-popup modal-content faded">
                    <p>Sign In</p>
                    <form class="auth-form">
                        <input type="text" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <div class="sign-in-options">
                            <div class="keep-me-log-in">
                                <input type="checkbox" />
                                <label>Keep me logged in</label>
                            </div>
                            <div class="forget-password">
                                <a href="#">Forgot password?</a>
                            </div>
                        </div>
                        <button>Sign In</button>
                        <div class="dont-have-account">
                            <p>Still don't have account?</p>
                            <a href="#sign-up-modal" data-toggle="modal" data-dismiss="modal">Sign Up</a>
                        </div>
                    </form>
                </div>
    
            </div>
        </div>
        <!-- End of sing in popup -->
    
    
        <!-- Sign up popup -->
        <div id="sign-up-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <div class="auth-popup modal-content faded">
                <p>Sign Up</p>
                <form class="auth-form" novalidate>
					<input type="email" placeholder="Email" id="mail"  />
					<span class="error" aria-live="polite" id = "error_email"> </span>
                    <input type="password" placeholder="Password" id="password" pattern=".{8,}" />
					<span class="error" aria-live="polite" id = "error_pass" > </span>
                    <input type="password" placeholder="Confirm password" id="confirm_password"  />
					<span class="error" aria-live="polite" id = "error_confirm_pass" > </span>
                    <input type="text" placeholder="First name" id="first_name" pattern="[A-Za-z' -]+"  />
					<span class="error" aria-live="polite" id = "error_first_name" > </span>
                    <input type="text" placeholder="Last name" id="last_name" pattern="[A-Za-z' -]+"  />
					<span class="error" aria-live="polite" id = "error_last_name" > </span>
                    <input type="date" placeholder="Date of birth" id="date"  />
					<span class="error" aria-live="polite" id = "error_date" > </span>
                    <button>Sign Up</button>
                    <div class="already-have-account">
                        <p>Already have account?</p>
                        <a href="#sign-in-modal" data-toggle="modal" data-dismiss="modal">Sign In</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
        <!-- End of sing up popup -->

    <!-- Checkout block -->

    <div class="checkout">
        <div class="delivery-block">
            <div class="delivery-header">
                <h4>Delivery info</h4>
            </div>
            <form>
                <div class="inputs">
                    <label for="fn">First name</label>
                    <input id="fn" type="text">
                </div>
                <div class="inputs">
                    <label for="ln">Last name</label>
                    <input id="ln" type="text">
                </div>
                <div class="inputs">
                    <label for="em">Email</label>
                    <input id="em" type="text">
                </div>
                <div class="inputs">
                    <label for="ph">Phone</label>
                    <input id="ph" type="text">
                </div>
                <div class="inputs">
                    <label for="payment-options">Payment</label>
                    <select name="payment-options" id="payment-options">
                        <option value="Card">Card</option>
                        <option value="Cash">Cash</option>
                        <option value="Nova Poshta payment">Nova Poshta payment</option>
                    </select>
                </div>
                <div class="inputs">
                    <label for="delivary-options">Delivery</label>
                    <select name="delivary-options" id="delivary-options">
                        <option value="NP">Nova Poshta</option>
                        <option value="JT">Justin</option>
                        <option value="UP">Ukr Poshta</option>
                    </select>
                </div>
                <div class="inputs">
                    <label for="city">City</label>
                    <input id="pcityh" type="text">
                </div>
                <div class="inputs">
                    <label for="wh">Warehouse</label>
                    <input id="wh" type="text">
                </div>

                <div class="inputs">
                    <label for="com">Comment</label>
                    <br>
                    <input id="com" type="text">
                </div>

                <button>Confirm</button>
            </form>
        </div>
        <div class="order-info-block">
            <div class="order-info-header">
                <h4>ORDER INFO</h4>
            </div>
            <div class="order-info-first">
                <div class="order-info-first-text">
                    <p>Price: </p>
                    <p>529,00 $</p>
                </div>
                <div class="order-info-first-text">
                    <p>delivery</p>
                    <p>75,00$</p>
                </div>
                <div class="order-info-first-text result">
                    <b>RESULT</b>
                    <b class="order-info-orange">604,00$</b>
                </div>
            </div>

            <div class="order-info-header">
                <h4>GOODS IN THE BASKET: (1)</h4>
            </div>
            <div class="order-info-first">
                <div class="order-info-first-text">
                    <h5>Estimated delivery time: 3/3-28/3 </h5>

                </div>
                <div class="order-info-basket">
                    <div class="order-info-img">
                        <img src="../img/main/close.jpg" width="60%" alt="close">
                    </div>
                    <div class="order-info-basket-text">
                        <p>Nike Therma Men's Full Zip Training Hoodie</p>
                        <p> <b>Vendor code: </b>CU6231-063</p>
                        <p><b>Size:</b> M</p>
                        <p><b>Amount:</b> 1</p>
                        <p class="order-info-orange size">529,00$</p>
                    </div>

                </div>
                <hr>
                <div class="order-info-change">
                    <a href="#">Change shopping list</a>
                </div>

                <!-- <div class="order-info-first-text result">
                    <b>RESULT</b>
                    <b class="order-info-orange">604,00$</b>
                </div> -->
            </div>




        </div>
    </div>

    <!-- End of Checkout block -->

    <footer>
        <div class="footer">
            <div class="footer-info">
                <h3>Info</h3>
                <h5>About us</h5>
                <h5>Feedback</h5>
                <h5>Help</h5>
            </div>
            <div class="social-media">
                <h3>Our social media</h3>
                <div class="social-media-icons">
                    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
                    <a href="https://web.telegram.org/" class="fa fa-telegram"></a>
                </div>
            </div>
        </div>
        <div class="footer-rights">
            <hr>
            <h5>© Nike Shop, Inc., 2021. All rights reserved.</h5>
        </div>

    </footer>

	<script src="../scripts/auth.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>