.item-block {
	width: 30%;
	height: 50%;

}
.item-block img {
	width: 100%;
	height: 60%;

}

.promo {
	color: #EAA580;
}

.title-name {
	color: black;
}

.item-block p {
	margin-bottom: 5px;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#category {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2%;
	font-size: 30px;
}

a { 
    text-decoration: none;
   }