.flex-container {
	display: flex;
}

.flex-container > div {
	padding: 20px;
	font-size: 30px;
}

.flex-container_c {
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.button_size {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 18px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
	width: 150px;
	border-radius: 5px;
}

.button_cart {
  background-color: #000000;
  border: none;
  color: white;
  padding: 18px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 30px;
  cursor: pointer;
  width: 350px;
  margin: 30px 70px;
}

.button_fav {
  background-color: #FFFFFF;
  border: 2px solid #555555;
  color: black;
  padding: 18px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 30px;
  cursor: pointer;
  width: 350px;
  margin: 0px 70px;
}

.button_rev {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 18px 50px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  width: 450px;
  margin: 70px 10px;
  border-radius: 10px;
}